body{
  background-color:#deeafc !important;
}
.app{
  padding-top: 20px;
}
.search{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search input{
  padding-left: 35px;
}
.row{
  display: flex;
  flex-direction: row;
}
.search i{
  position: relative;
  left: 30px;
}
.button button{
  border: none;
  border-radius: 10px;
  background-color: rgb(87, 93, 166);
  color: #ffffff;
  padding: 6px;
}
.modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body button{
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 10px;
  margin: 5px;
  background-color: rgb(87, 93, 166);
  color: white;
}